@font-face {
  font-family: "JohnnyUtah";
  src: url("./assets/jufont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 2rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.title {
  font-family: "JohnnyUtah", sans-serif;
  font-size: 6rem;
  letter-spacing: 0.05em;

  opacity: 0;
  transform: translateY(40px);
  animation: fadeSlideUp 1s ease-out forwards;
  animation-delay: 0.5s; /* optional delay for dramatic effect */


  @media (min-width: 768px) {
    font-size: 8.4rem;
  }
}

.main-nav ul {
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 1rem 0;

  @media (min-width: 768px) {
    font-size: 1.8rem;
    gap: 2.5rem;
  }
}

.main-nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 0.05em;
  transition: color 0.3s ease;
}

.main-nav li a:hover {
  color: #f39c12;
}

.more-content {
  background: #111;
  color: #eee;
  padding: 4rem 2rem;
}
