/* Fonts */
@font-face {
  font-family: "JohnnyUtah";
  src: url("./assets/jufont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Design Tokens */
:root {
  --font-size-base: 1.8rem;           /* 18px */
  --font-family: sans-serif;
}

/* Layout */
html {
  font-size: 62.5%; /* 1rem = 10px */
  line-height: 1.5;
}

body {
  font-size: var(--font-size-base);
  font-family: var(--font-family);
}
